<h2 class= "yellow-gradient" style="font-family: 'Bebas Neue'"><%= competition.name %></h2>
<p><%= competition.address %></p>
<%= link_to 'Voir la compétition', competition_path(competition), class: 'btn btn-primary' %>
