<div class="container">
  <div class="row">
    <div class="col-md-4 padding-team">
      <h1 class="team-align-padding">Mes Equipes</h1>
      <ul class="list-unstyled">
        <% @chatrooms.each do |chatroom| %>
          <li class="mb-3">
            <div class="chatroom-card">
              <div class="d-flex align-items-center">
                <div class="avatar">
                  <i class="fas fa-users fa-2x"></i>
                </div>
                <div class="chatroom-info ms-3">
                  <%= link_to chatroom.team.name, chatroom_path(chatroom), remote: true, class: 'chatroom-link text-decoration-none' %>
                  <% if chatroom.last_message %>
                    <p class="mb-0 text-muted small">Dernier message : <%= chatroom.last_message.user.id %></p>
                    <p class="mb-0 text-muted small"><%= truncate(chatroom.last_message.content, length: 50) %></p>
                  <% else %>
                    <p class="mb-0 text-muted small">Aucun message</p>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8">
      <div id="chatroom-content">
        <% if @chatroom %>
          <div class="mobile">
            <%= render partial: 'chatrooms/chatroom', locals: { chatroom: @chatroom, message: @message } %>
          </div>
        <% else %>
          <p>Sélectionnez une chatroom pour commencer à discuter.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
