.chatroom {
  background-image: url('/assets/background_chatroom.png');
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  display: flex;
  flex-direction: column;


  .content-wrapper {
    background-color: rgba($color: white, $alpha: 0);
    // opacity: 0.4;
    padding: 20px;
    border-radius: 5px;
    height: 800px;
    width: 800px;
    margin: 20px auto;

  }

  .mobile {
    box-shadow: 5px 5px 0 #768693;
    height: 600px;
    width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 0 solid #2c3e50;
    border-width: 45px 15px 60px;
    color: #474c57;
    border-radius: 20px;
    display: flex;
    flex-direction: column;



    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      max-width: 100%;
    }
  }

  h1 {
    background-color: white;
    margin-bottom: 0;
    padding: 1rem;
    font-family: "Bebas Neue", sans-serif;
  }

  .messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    background: #f9f9f9;
    max-height: calc(100% - 200px);
  }

  .chat-form {
    border-top: 1px solid #ccc;
    padding: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
  }

  .form-group {
    margin-bottom: 0;
    // flex-grow: 1;
  }

  .form-control {
    border-radius: 20px;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
  }

  .btn {
    border-radius: 20px;
    padding: 0.5rem 1rem;
  }

  .ml-3 {
    margin-left: 1rem !important;
  }
}

.chatroom-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
}

.chatroom-card .avatar {
  margin-right: 10px;
}

.chatroom-card .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chatroom-card .chatroom-info {
  flex: 1;
}

.chatroom-card .chatroom-info .chatroom-name {
  font-size: 16px;
  font-weight: bold;
}

.chatroom-card .chatroom-info .chatroom-meta {
  font-size: 12px;
  color: #777;
}

.chatroom-link {
  text-decoration: none;
  color: inherit;
}

.chatroom-link:hover {
  text-decoration: none;
  color: black;
}

.team-align-padding {
  padding: 1rem;
  text-align: center;
}

.padding-team {
  padding-top: 20px;
}
