@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

$border-radius-size: 14px;
$green: #82BB30;
$pink: #EE5487;
$yellow: #F6901A;

// Variables
$white: #fff;
$blue: #176cc7;
$banner-height: 600px;
$transition-duration: 0.5s;
$padding: 0.8rem;
$font-size: 0.875rem;
$line-height: 1.5;
$margin-bottom: 2rem;
$margin-top: 2rem;
$h1-margin-bottom: 0.5rem;
$card-margin: 0.5rem;

// Reset margins and padding for body and html
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $white;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  line-height: 1;
  margin: 0;
}

p {
  font-size: $font-size;
  line-height: $line-height;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $banner-height;
  color: $white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), image-url('banner_XL.jpg');
  opacity: 0.8;
  z-index: 1;

  .container {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    z-index: -1;
    animation: animateBanner 15s linear infinite;
  }

  margin-top: 0;
}

@keyframes animateBanner {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1) translateY(-10%);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.gradient-text {
  background: linear-gradient(0deg, $blue, $pink, $yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.yellow-gradient {
  background: linear-gradient(0deg, $blue, $yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - #{$card-margin * 2});
  margin: $card-margin;
  padding: $padding;
  background-color: $white;
  transition: $transition-duration ease-in-out;

  p {
    font-size: 1rem;
    text-align: center;
    margin: 0 0 0 1rem;
    text-decoration: none;
  }
}

.container {
  margin-bottom: $margin-bottom;
}

h1 {
  margin-bottom: $h1-margin-bottom;
}

.main-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner-text {
  text-align: left;

  h1 {
    font-family: 'Days One', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 1.2;
    color: $white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: $white;
  }
}

.slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.wrapper {
  // flex: 1 1 calc(33.333% - 40px);
  // max-width: calc(33.333% - 40px);
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 20px;
  box-sizing: border-box
}

.clash-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.clash-card {
  background: white;
  width: 300px;
  margin: $card-margin;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.clash-card__image--barbarian {
  background-color: $blue;
  img {
    width: 350px;
    height:250px;
    position: absolute;
    top: -70px;
    left: 70px;
    right: 80px;
    overflow:visible;
  }
}

.clash-card__image--archer {
  background-color: $yellow;
  img {
    width: 350px;
    height:250px;
    position: absolute;
    top: -70px;
    left: 70px;
    right: 80px;
    overflow:visible;
  }
}

.clash-card__image--goblin {
  background-color: $pink;
  img {
    width: 350px;
    height:250px;
    position: absolute;
    top: -70px;
    left: 70px;
    right: 80px;
    overflow:visible;
  }
}

.clash-card__image--bad {
  background-color: $green;
  img {
    width: 350px;
    height:250px;
    position: absolute;
    top: -70px;
    left: 70px;
    right: 80px;
    overflow:visible;
  }
}
.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  text-decoration: none;
}

.clash-card__level--barbarian {
  color: $blue;
}

.clash-card__level--archer {
  color: $yellow;
}

.clash-card__level--goblin {
  color: $pink;
}

.clash-card__level--bad {
  color: $green;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
  text-decoration: none;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
  height: 150px;
  overflow: hidden;
  text-decoration: none;
}

.clash-card__unit-stats--barbarian {
  background: $blue;

  .one-third {
    border-right: 1px solid darken($blue, 6%);
  }
}

.clash-card__unit-stats--archer {
  background: $yellow;

  .one-third {
    border-right: 1px solid darken($pink, 6%);
  }
}

.clash-card__unit-stats--goblin {
  background: $pink;

  .one-third {
    border-right: 1px solid darken($pink, 6%);
  }
}

.clash-card__unit-stats--bad {
  background: $green;

  .one-third {
    border-right: 1px solid darken($green, 6%);
  }
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
  }

  // sup {
  //   position: absolute;
  //   bottom: 4px;
  //   font-size: 45%;
  //   margin-left: 2px;
  // }

  .stat {
    position: relative;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}

h1 {
  font-size: calc(3rem + 1vw);
  font-weight: 300;
  margin: 1rem 0 0;
  text-align: center;

  span {
    font-weight: 700;
  }
}

.intro {
  text-align: center;
}

.clash-card-link,
.clash-card-link:hover,
.clash-card-link:focus,
.clash-card-link:active {
  text-decoration: none;
  color: inherit;
}


// .clash-card-link * {
//   color: inherit;
//   text-decoration: none;
// }
