html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
  line-height: 1;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgba(122, 204, 63, 0.1),
              0 2px 4px -1px rgba(241, 94, 95, 0.06),
              0 4px 6px -1px rgba(39, 117, 225, 0.1),
              0 2px 4px -1px rgba(255, 199, 58, 0.06);
  padding: 0 20px;
  height: 80px;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 15px 10px;
}

.custom-max-width {
  max-width: 1140px;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
